.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #000;
}

.game-pane {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    overflow: hidden;

    & .cell-container {
        border: 1px #d1c1c1 solid;
        height: 20px;
        width: 20px;
        box-sizing: border-box;
        background-color: #fff;
        cursor: pointer;
        &:hover {
            background-color: rgb(143, 134, 134);
            animation: cellHover 0.25s;
        }
    }
    & .isActivated {
        animation: cellActivating 0.25s;
        background-color: #000;
    }
    & .isDeactivated {
        animation: cellDeactivating 0.15s;
        background-color: #fff;
    }

    @keyframes cellHover {
        from {
            background-color: #fff;
        }
        to {
            background-color: rgb(143, 134, 134);
        }
    }

    @keyframes cellActivating {
        from {
            background-color: #fff;
        }
        to {
            background-color: #000;
        }
    }

    @keyframes cellDeactivating {
        from {
            background-color: #000;
        }
        to {
            background-color: #fff;
        }
    }
}

.control-pane {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: center;

    & .btn {
        margin: 5px;
        min-width: 150px;
    }
}
